<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <queries>
        <package android:name="com.allinvisible.aiv" />
        <package android:name="fr.erick.journallocal" />
        <package android:name="moe.shizuku.privileged.api" />
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
    </queries>
    <application android:label="3AI" android:icon="@drawable/logo"
        android:theme="@style/AppTheme" android:allowBackup="false"
        android:usesCleartextTraffic="false" android:supportsRtl="true">
        <meta-data android:name="moe.shizuku.client.V3_SUPPORT" android:value="true" />
        <activity android:name=".BrowserActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <provider android:name="rikka.shizuku.ShizukuProvider" android:authorities="${applicationId}.shizuku"
            android:multiprocess="false" android:enabled="true" android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="text/plain" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="application/json" /></intent-filter>
        </activity>
    </application>
</manifest>
